source https://nuget.org/api/v2
content: none

//Build
nuget Yaaf.AdvancedBuilding
nuget NUnit.Runners
// Until windows support is fixed
nuget FSharp.Formatting == 2.6.3

// Project
nuget FSharp.Core copy_local: false
nuget Yaaf.FSharp.Helper 
nuget EntityFramework == 6.1.2
nuget Microsoft.AspNet.Identity.Core == 1.0.0
nuget Microsoft.AspNet.Identity.EntityFramework == 1.0.0

// Test
// Until Visual Studio test runner supports later versions.
nuget NUnit == 2.6.3
nuget Unquote
nuget Foq
nuget FsUnit
